html , body{
  height: 100%;
  width: 100%;
}

.image {
    width:240px;
    height:300px;
  }
#a {
    float: left;
    position: absolute;
    left: 25px;
    top: 118px;
    }
body{
    background-image:linear-gradient(#daf8e3,#97ebdb,#00c2c7,#0086ad,#005582);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:0;
    margin:0;

  }

  .side {
    height: 102vh;
    width: 10vw;
    background-color: #07283f;
    background-attachment: fixed;
    color: white;
  }

  .title {
    height: 15vh;
    width: 100vw;
    background-color: #07283f;
    background-attachment: fixed;
    color:white;
  }
  h1 {
    margin-top: 0px;
    line-height: 75%;
    font-size: 40px;
  }
  .donate{
    height: 42px;
    width: 103px;
    position: absolute;
    left: 18px;
    top: 169px;
    background-image: linear-gradient(#daf8e3,#97ebdb);
    font-size: 16px;
    color: black;
    border-radius: 25px;

}
  .link{
    height: 42px;
    width: 103px;
    position: absolute;
    left: 18px;
    top: 515px;
    background-image: linear-gradient(#00c2c7,#0086ad,#005582);
    font-size: 20px;
    color: black;
    border-radius: 25px;
}

  .titlea{
    position:absolute; 
    left:137px; 
    top:41px;
  }
.disclaimer{
  position:absolute;
  left:3px;
  top:640px;
  font-weight: bold;
}
.placeholdera{
    height: 225px;
    width: 193px;
    position: absolute;
    left: 170px;
    top: 482px;
    border-radius: 8px;
    float: left;
}
.placeholderb{
    height: 225px;
    width: 193px;
    position: absolute;
    left: 1160px;
    top: 482px;
    border-radius: 8px;
    float: right;
}
.logo{
  height: 144px;
  width: 310px;
  position: absolute;
  left: -94px;
  top: 14px;
  background-attachment: fixed;
  border-radius: 8px;
}


.buttona {
  height: 42px;
  width: 103px;
  position: absolute;
  left: 18px;
  top: 251px;
  background-image: linear-gradient(#97ebdb,#00c2c7);
  font-size: 20px;
  color: black;
  border-radius: 25px;
}

.buttonb{
  height: 42px;
  width: 103px;
  position: absolute;
  left: 18px;
  top: 333px;
  background-image: linear-gradient(#00c2c7,#0086ad);
  font-size: 20px;
  color: black;
  border-radius: 25px;
}

.buttonc{
  height: 42px;
  width: 103px;
  position: absolute;
  left: 18px;
  top: 415px;
  background-image: linear-gradient(#0086ad,#005582);
  font-size: 20px;
  color: black;
  border-radius: 25px;
}

.article{
  position: absolute;
  left: 160px;
  top: 98px;
  font-size:35px;
  text-align: justify;
}
.image {
  width:240px;
  height:300px;
  border-radius: 8px;

}
#win {
  float: left;
  position: absolute;
  left: 25px;
  top: 118px;
}
#wrap {
  float: left;
  margin-left:3em;
}