html , body{
    height: 100%;
    width: 100%;
  }
body{
    background-image: linear-gradient(#c6d4c3, #b0bea4, #839573, #28372a, #1c2b1c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
}
.boxa{
    height: 100%;
    width: 100%;
}
.boxb{
    height: 100%;
    width: 100%;
}
.boxc{
    height: 100%;
    width: 100%;
}

